@CHARSET "UTF-8";

body {
 color: black;
 background-color: white;
}
fieldset {
  display: block;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
  width: auto;
}
legend {
  font-size: 1.25em;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}
div.input_container {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin-bottom: 8px;
  text-align: right;
}
span.user_interaction_container {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
span.error_message_container {
  position: fixed;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: -4px;
  color: red;
  background-color: yellow;
}
div.cheque-formatted_container {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 2px;
  min-height: 3em;
}
div.menu_container {
  margin-top: 12px;
  margin-bottom: 4px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
span.numeric_currency_input_container {
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
select.currency_selector {
  font-weight: bold;
  margin: 0;
}
input.numeric_currency {
  margin: 0;
  text-align: left;
}
button {
  font-weight: bold;
  color: black;
  background: white;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 0;
}
output.cheque_formatted_cell {
  padding: 0;
}
output.error_message {
  margin-top: 4px;
  margin-bottom: 4px;
  color: inherit;
  background-color: inherit;
}